@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-size: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root {
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Passion One';
    --fonte3: 'Sriracha', cursive;
}

html, body {
    min-height: 100vh;
    background-color: darkgray;
    font-family: var(--fonte1);
}

header {
    background-color: black;
    color: white;
    text-align: center;
}

header h1 {
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--fonte2);
    font-size: 5vw;
}

header p {
    padding-bottom: 50px;
}

a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

a:hover {
    text-decoration: underline;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 30px;
    line-height: 2;
    font-family: var(--fonte3);
    font-size: 3vw;
}

section p {
    padding-bottom: 2em;
}

section.imagem > p {
    display: inline-block;
    padding: 10px;
    background-color: #00000080;
    text-shadow: 1px 1px 0px 2px #000000;
}

section.normal {
    background-color: #ffffff;
    color: #000000;
}

section.imagem {
    background-color: #323232;
    color: #ffffff;
    box-shadow: inset 6px 6px 13px 0px #00000050;
    background-size: cover;
    background-attachment: fixed;
}

section#img01 {
    background-image: url('../images/background001.jpg');
    background-position: right center;
}

section#img02 {
    background-image: url('../images/background002.jpg');
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 5px;
}

footer p {
    font-size: 0.8em;
}